.box{
    width: 30px;
    height: 15px;
    text-align: center;
    background-color: #8b8b8b;
    display: none;
    float: left;
    border: 1px solid #252735;
    margin: 3px;
}
.boxA{
    background-color: #222222;
}
.boxR{
    width: 50px;
}
#c0{
    background-color: #8b8b8b;
}
#c1{
    background-color: #9a2517;
}
#c2{
    background-color: #217225;
}
#c3{
    background-color: #412944;
}
#c4{
    background-color: #904519;
}
#c5{
    background-color: #1f4d78;
}
#c6{
    background-color: #7a8824;
}
#c7{
    background-color: #f0f8ff;
}
#cSeparator{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
    border: transparent;
}
.boxC{
    width: 20px;
    display: inline-block;
    opacity: 0;
    margin: 0;

    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
#options{
    width: 40px;
    position: absolute;
}

.lil{
    font-size: smaller;
}
#separator{
    border-bottom: 1px solid #252735;
}
#msg{
    left: 20px;
    width: 350px;
    top: 652px;
}
.settingsLabel{
    width: 200px;
    height: 30px;
}
input{
    width: 50px;
    text-align: center;
}
.radio{
    width: 20px;
    margin: 0;
    padding: 0;
}
.buttonize{
    float: left;
}
#submit{
    width: 120px;
    float: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 24px;
}
#gameFrame{
    padding: 0 50px;
    width: 500px;
}
#restartGame{
    position: relative;
    top: 0;
    left: 0;
}
.tooltip2 {
    position: relative;
    display: inline-block;
}
.tooltip2 .tooltiptext2 {
    cursor: default;
    font-size: x-small;
    font-weight: 100;
    opacity: 0;
    width: 100px;
    background-color: #252735;
    color: gainsboro;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    -webkit-transition: opacity 1500ms;
    -moz-transition: opacity 1500ms;
    -o-transition: opacity 1500ms;
    transition: opacity 1500ms;
    z-index: 1;
    top: -15px;
    left: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}