#gameFrame{
    position: relative;
    width: 640px;
    height: 640px;
    left: 0;
    top: 0;
}
#outerFrame{
    position: absolute;
    width: 646px;
    height: 645px;
    left: 5px;
    top: 105px;
    border: 5px solid gainsboro;
}
#canvas{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cellReport{
    position: absolute;
    top: 755px;
    left: 10px;
}
#data{
    left: 675px;
    top: 110px;
    width: 520px;
}
#report{
    width: 250px;
    border: 1px solid #252735;
    padding: 10px;
}
.stat{
    margin: 0;
    border: 0;
    font-size: medium;
}
#restartGame{
    position: relative;
    left: 0;
    top: 0;
}
.buttonize{
    clear: both;
    float: none;
    margin: 10px 0;
}
#speed{
    width: 50px;
    font-size: large;
    text-align: center;
    margin: 0 0 20px 0;
}
#runButton{
    background-color: #252735;
    color: gainsboro;
    font-size: x-large;
    font-weight: bolder;
}
#stopButton{
    background-color: #9a2517;
    color: gainsboro;
    font-size: large;
    font-weight: bold;
}