#gameFrame{
    position: relative;
    width: 640px;
    height: 640px;
    left: 0;
    top: 0;
}
#outerFrame{
    position: absolute;
    width: 646px;
    height: 645px;
    left: 5px;
    top: 105px;
    border: 5px solid gainsboro;
}
#canvas{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cellReport{
    position: absolute;
    top: 755px;
    left: 10px;
}
#genLen{
    width: 220px;
    color: red;
}
.ui-slider{
    width: 250px;
    color: #222222;
}
#data{
    left: 675px;
    top: 110px;
    width: 520px;
}
#report{
    width: 180px;
    border: 1px solid #252735;
    padding: 10px;
}
.stat{
    margin: 0;
    border: 0;
    font-size: medium;
}
.buttonize{
    margin: 10px 0;
    width: 110px;
    background-color: #cccccc;
}
.saveGame, .restoreGame{
    margin: 5px auto;
}
#speed{
    width: 50px;
    font-size: large;
    text-align: center;
    margin: 0;
}
#runButton, #stepButton{
    float: left;
    background-color: #252735;
    height: 35px;
    color: gainsboro;
    font-size: x-large;
    font-weight: bolder;
    margin: 0 10px 0 0;
}
#stepButton {
    width: 20px;
    font-weight: bold;
}
#stopButton{
    float: none;
    background-color: #9a2517;
    color: gainsboro;
    font-size: large;
    font-weight: bold;
}
#clearButton{
    float: none;
}
#settingTable td{
    padding: 3px;
}
.worldimg{
    width: 120px;
    height: 120px;
    border: 1px solid #252735;
    margin: 10px 0 0 0;
}
#instructionsHeader{
    cursor: pointer;
}