body{
    background-color: gainsboro;
    color: #252735;
    font-family: 'Montserrat', sans-serif;
}
h1{
    background-color: #252735;
    color: gainsboro;
    padding: 20px;
    height: 40px;
    margin-left: 83px;
}
h2{
    background-color: #252735;
    color: gainsboro;
    padding: 20px;
}
h3{
    clear: right;
    border-bottom: 1px solid #252735;
}

#home{
    width: 40px;
    height: 40px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    background-color: #252735;
    color: gainsboro;
    padding: 15px 23px 25px 17px;
    float: left;
}
#homeImg{
    margin: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
}
#homeImg:hover{
    opacity: 0.9;
}
#homeImg:active{
    opacity: 1;
}

a{
    color: #904519;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: #9a2517;
    text-decoration: underline;
}
#msg{
    display: none;
    position: absolute;
    text-align: center;
    top: 330px;
    left: 10px;
}
#gameFrame{
    border: 3px solid #252735;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 150px;
}
#data{
    position: absolute;
    left: 600px;
    top: 150px;
    margin: 10px;
}
#jitter{
    background-color: #252735;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 210px;
    top: 210px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.buttonize{
    padding: 5px;
    border: 1px solid #252735;
    float: right;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: small;
}
#restartGame{
    position: absolute;
    left: 50px;
    top: 660px;
}