body{
    background-color: gainsboro;
    color: #252735;
    font-family: 'Montserrat', sans-serif;
}
h1{
    background-color: #252735;
    color: gainsboro;
    padding: 20px;
    height: 40px;
    margin-left: 83px;
}
h2{
    background-color: #252735;
    color: gainsboro;
    padding: 20px;
}
h3{
    clear: right;
    border-bottom: 1px solid #252735;
}

#home{
    width: 40px;
    height: 40px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    background-color: #252735;
    color: gainsboro;
    padding: 15px 23px 25px 17px;
    float: left;
}
#homeImg{
    margin: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
}
#homeImg:hover{
    opacity: 0.9;
}
#homeImg:active{
    opacity: 1;
}

a{
    color: #904519;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: #9a2517;
    text-decoration: underline;
}
#msg{
    display: none;
    position: absolute;
    text-align: center;
    top: 330px;
    left: 10px;
}
#gameFrame{
    border: 3px solid #252735;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 150px;
}
#data{
    position: absolute;
    left: 600px;
    top: 150px;
    margin: 10px;
}
#player{
    background-color: #252735;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 240px;
    top: 240px;
}
.buttonize{
    padding: 5px;
    border: 1px solid #252735;
    float: right;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: small;
}
#restartGame{
    position: absolute;
    left: 50px;
    top: 660px;
}
.goomba{
    background-color: #904519;
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}
#goomba0{
    left: 80px;
    top: 240px;
}
#goomba1{
    left: 240px;
    top: 80px;
}
#goomba2{
    left: 400px;
    top: 240px;
}
#goomba3{
    left: 240px;
    top: 400px;
}
#goomba4{
    left: 80px;
    top: 180px;
}
#goomba5{
    left: 180px;
    top: 80px;
}
#goomba6{
    left: 300px;
    top: 80px;
}
#goomba7{
    left: 400px;
    top: 180px;
}
#goomba8{
    left: 400px;
    top: 300px;
}
#goomba9{
    left: 300px;
    top: 400px;
}
#goomba10{
    left: 180px;
    top: 400px;
}
#goomba11{
    left: 80px;
    top: 300px;
}
#goomba12{
    left: 120px;
    top: 120px;
}
#goomba13 {
    left: 360px;
    top: 120px;
}
#goomba14{
    left: 360px;
    top: 360px;
}
#goomba15{
    left: 120px;
    top: 360px;
}
